@import 'components/color';
@import 'components/variables';
@import '_variables';
@import 'materialize';


/* FIXME: Workaround for https://github.com/Dogfalo/materialize/issues/1079 */
@each $mdi-icon-name, $mdi-icon-value in $mdi-list-icons {
  .#{$mdi-prefix}#{$mdi-icon-name}:before {
    content: "\""+ $mdi-icon-value +"\"";
  }
}

input[type=text].valid {
  box-shadow: none;
}

input[readonly]:focus {
  box-shadow: none !important;
  border: none;
}

.container {
  width: 85%;
}

.no-label {
  &, textarea, input {
    margin: 0;
  }
  textarea, input {
    padding: 0;
  }
  textarea {
    display: block;
  }
  .red-text {
    display: none;
  }
}

.main-nav {
  width: 70px;
  i, a.logo {
    font-size: 2em;
    font-weight: bold;
    color: #fafafa;
  }
  .menu {
    margin: 0;
    li {
      padding: 5px;
      i {
        color: #b0bec5;
      }
      &:hover, &.active {
        background-color: #009688;
        i {
          color: #fff;
        }
      }
    }
  }
}

.sidebar.col {
  position: fixed;
  left: 70px;
  width: 240px;
  padding: 0;
  height: 100%;
  ul.collection {
    border: none;
    margin: 0;
    .collection-header {
      height: 64px;
      font-size: 2em;
      i {
        color: #009688;
      }
    }
  }
}

main {
  padding-left: 310px;
  header {
    height: 64px;
    border-bottom: 1px solid #e0e0e0;
    h2 {
      font-size: 2em;
      margin: 0;
      line-height: 64px;
    }
  }


  .company-select {
    overflow: visible;
    small.red-text {
      display: none;
    }
    .row {
      margin: 4px;
    }
  }
  table.expenses {
    td, th {
      padding: 15px 15px;
      vertical-align: bottom;
    }
    tr td:first-child {
      width: 65%;
    }
    input[type=text], p {
      text-align: right;
    }
    tr.summary {
      background-color: transparent;
    }
  }


  table.invoices {
    tbody {
      max-height: 400px;
    }
    p {
      margin: 0;
    }
  }
}


table.scroll {
    width: 100%;
}

table.scroll th,
table.scroll td,
table.scroll tr,
table.scroll thead,
table.scroll tbody { display: block; }

table.scroll thead tr {
    /* fallback */
    width: 97%;
    /* minus scroll bar width */
    width: -webkit-calc(100% - 16px);
    width:    -moz-calc(100% - 16px);
    width:         calc(100% - 16px);
}

table.scroll tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

table.scroll tbody {
    overflow-y: auto;
    overflow-x: hidden;
}

table.scroll tbody td,
table.scroll thead th {
    width: 25%;
    float: left;
}